.btn-green {
    background-color: #1ab394;
    color: #fff;
    border-radius: 3px;
}
.btn-green:focus,
.btn-green:hover {
    background-color: #18a689;
    color: #fff;
}
.panel-footer {
    padding: 0 15px;
    border: none;
    text-align: right;
    background-color: #fff;
}