apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    template: mongodb-persistent-template
  name: {{ .Values.database_service_name }}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.volume_capacity }}
